header {
    position: fixed;
    top: -3px;
    left: -3px;
    width: 100vw;
    height: auto;
}

.header {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: right;
    max-width: 100%;
    height: 35px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.36px;
    color: var(--grey);
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color);
    z-index: 99;
}

.header__inner {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: left;
    align-items: center;
    height: 100%;
    width: 30%;
}

.header__inner > div {
    display: grid;
    align-items: center;
    height: 100%;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 0 20px 0 20px;
}

.header__inner > div:last-child {
    border: none;
}

.header__inner a {
    text-decoration: none;
    color: var(--grey);
}

.text--extra-bold {
    font-family: Anybody-Extra-Bold;
    font-size: 16px;
}

.menu {
    max-width: 100vw;
    height: 59px;
    font-family: 'Manrope';
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    align-items: center;
    justify-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid var(--border-color);
}

.grassphomisf {
    z-index: 9999;
    backdrop-filter: blur(40px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px  rgba(46, 54, 68, 0.03);
    background-color: var(--glass);
    border: solid 2px transparent;
}

.menu > img {
    width: 40%;
    height: auto;
}

.menu a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 14px;
}

.menu__options, .menu--icon {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.menu__options {
    border-left: 2px solid var(--grey);
    grid-template-columns: repeat(6, 1fr);
}

.menu--icon {
    grid-template-columns: repeat(2, 1fr);
}

.lamp_mode-color {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-left: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.menu--icon--cart:hover, .lamp_mode-color:hover {
    filter: drop-shadow(0px 0px 5px #3b3b3b);
    cursor: pointer;
    background-color: #3b3b3b;
}

.lamp_mode-color:hover img{
    filter: invert();
    transition: none;
}

.menu__options a:hover {
    font-family: Manrope-bold;
}

.menu--icon--cart .menu--icon--cart-svg path {
    fill: #3b3b3b;
    stroke: #3b3b3b;
}

.menu--icon--cart:hover .menu--icon--cart-svg path {
    fill: #fff;
    stroke: #fff;
}

.menu--icon > div {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu--icon > div img {
    width: 26px;
    height: auto;
}

.menu__options--mobile-icon, .menu__options--mobile {
    display: block;
}

#nav-mobile:checked ~ .menu__options--mobile {
    display: block !important;
    
}

.menu__options--mobile-icon img {
    width: 26px;
}

.menu__options--mobile {
    display: block;
    z-index: 999999;
    position: fixed;
    top: 7%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    height: 100vh;
    padding-top: 30px;
    background-color: var(--yellow);
    animation-duration: 1s;
    animation-name: fadeBottomDiv;
    animation-timing-function: ease-in;
}

.menu__options--mobile__inner {
    position: relative;
    height: 100vh;
    width: 80%;
    margin: 0px auto 0px auto;
    padding: 0px;
    list-style-type: none;
}

.menu__options--mobile__inner a {
    display: block;
    font-family: Anybody-Light;
    font-size: 60px;
    font-weight: 200;
    font-stretch: expanded;
    letter-spacing: 5px;
    text-align: center;
    color: var(--grey);
    border-bottom: 1px solid var(--grey);
    padding: 35px;
}

.menu__options--mobile__inner--flag {
    text-align: center;
    border-bottom: 1px solid var(--grey);
    padding: 20px;
}

.menu__options--mobile__inner--flag img {
    width: 70px;
    height: auto;
    margin-right: 27px;
}

.menu_social-media-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 35px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    fill :none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--grey);
    stroke-width: 2;
    stroke-linecap: round;
}

.hamRotate.active {
    transform: rotate(45deg);
}
.ham8 .top {
    stroke-dasharray: 40 160;
}
.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
    stroke-dashoffset: -64px;
}
.ham8.active .middle {
    transform: rotate(90deg);
}
.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

.menu_social-media-mobile img {
    width: 55px;
    height: auto;
}

.popup__cart {
    display: none;
    background-color: var(--primary-color);
    border: 1px solid var(--grey);
    position: absolute;
    top: 7%;
    right: 20px;
    width: 400px;
    height: auto;
    padding: 15px;
}

.popup__cart--header, .popup__cart--price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: end;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: var(--grey);
    text-transform: uppercase;
}

.popup__cart--price {
    padding: 14px 0 14px 0;
}

.popup__cart--header h3, .popup__cart--price span:nth-child(1) {
    justify-self: left;
}

.popup__cart--header--close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: var(--grey);
    border-radius: 20px;
    cursor: pointer;
}

.popup__cart--header--close img {
    filter: invert();
}

.popup__cart--product img:nth-child(2) {
    width: 100px;
    height: auto;
}

.popup__cart--product {
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
    justify-items: center;
    align-items: center;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--grey);
    padding: 14px 0 14px 0;
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}

.popup__cart--btn {
    display: grid;
    align-items: center;
    justify-items: center;
}

.popup__cart--btn a:first-child {
    margin-bottom: 10px;
}

.btn-large--black {
    font-family: Manrope;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    background-color: var(--border-color);
    color: #fff !important;
    width: 100% !important;
}

.fade--bottom { animation-name: fadeBottom; }

.menu__options--mobile__inner a, .menu__options--mobile__inner div {
    animation-duration: 2.5s;
    animation-fill-mode: both;
}

.menu--icon--cart {
    cursor: pointer;
    border-left: 2px solid var(--grey);
}

.menu--icon--cart svg {
    width: 26px;
}

.menu--icon--cart-svg path {
    fill: #3b3b3b;
    stroke: #3b3b3b;
    stroke-width: .1;
    stroke-linecap: butt;
    stroke-dasharray: 0;
}

.menu--icon--cart:hover .menu--icon--cart-svg path {
    stroke-width: .4;
}

.sun-moon-container {
    --rotation: 0;

    position: absolute;
    pointer-events: none;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0;
    height: 20vmin;
    width: 100%;
    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform 1s;
    margin-top: 6px;
}

.moon,
.sun {
    position: absolute;
    /* transition: opacity, 1s; */
}

.moon {
    top: 5%;
    opacity: 1;
}

.sun {
    bottom: 5%;
    opacity: 0;
    transform: rotate(180deg);
}

@keyframes fadeBottom {
    from {
        opacity: 0;
        transform: translateY(-70%);
    }
    to { opacity: 1 }
}

@keyframes fadeBottomDiv {
    from {
        height: 0;
        transform: transform translateY(-1%);
    }
    to { height: 100vh; }
}

@media only screen 
  and (min-width: 479px) 
  and (max-width: 1024px) {
    .menu__options {
        grid-template-columns: 1fr;
    }
    .menu__options > a {
        display: none;
    }

    .menu__options--mobile-icon {
        display: inline-block;
    }

    .menu {
        z-index: 999999;
        max-width: 100vw;
        height: 7%;
        grid-template-columns: 30% 10% 40% 20%;
    }

    .menu_social-media-mobile {
        display: none;
    }

    .popup__cart {
        top: 8%;
    }

    .header__inner {
        width: 35%;
        grid-template-columns: 50% 50%;
    }

    .menu__options--mobile {
        top: 100%;
    }

    .sun-moon-container {
        margin-top: 5%;
    }
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 480px) {
    .menu__options {
        grid-template-columns: 1fr;
    }
    .menu__options > a {
        display: none;
    }

    .menu__options--mobile-icon{
        display: inline-block;
    }
    .menu {
        z-index: 999999;
        max-width: 100vw;
        height: 10%;
        grid-template-columns: 50% 20% 30%;
    }
    .menu__options--mobile-icon img {
        width: 26px;
    }

    .menu__options--mobile {
        top: 100%;
    }

    .popup__cart {
        top: 8%;
        right: 0;
        left: 0;
        width: 350px;
    }

    .menu__options--mobile__inner a {
        font-size: 30px;
        padding: 20px;
    }
    .header__inner {
        width: 100%;
        grid-template-columns: 50% 50%;
    }

    .header__inner div:first-child {
        border-left: none;
    }

    .sun-moon-container {
        margin-top: 15%;
        height: 20vh;
    }

    .menu > img {
        width: 80%;
        height: auto;
    }
}