@font-face {
    font-family: 'Manrope';
    src: url('./../font/Manrope/Manrope.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope-light';
    src: url('./../font/Manrope/Manrope-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope-bold';
    src: url('./../font/Manrope/Manrope-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('./../font/Manrope/Manrope-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Anybody';
    src: url('./../font/Anybody/Anybody.woff2') format('woff2');
}

@font-face {
    font-family: 'Anybody-Light';
    src: url('./../font/Anybody/Anybody-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Anybody-Extra-Bold';
    src: url('./../font/Anybody/Anybody-ExtraExpandedBold.woff2') format('woff2');
}


:root {
    --primary-color: #e3e0d7;
    --grey: #3b3b3b;
    --red: #fb3729;
    --yellow: #ffbb39;
    --glass: hsla(0, 0%, 100%, 0.5);
    --border-color: #161616;

    --font-family: 'Manrope';

    --width-default: 80%;
}